@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles that complement Tailwind */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8f8f8; /* Un color de fondo claro */
  background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0), linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0);
  background-size: 20px 20px; /* Tamaño del patrón */
  background-position: 0 0, 10px 10px; /* Desplazamiento para el segundo patrón */
}
